:host {
    margin: 10px 10px;
    display: block;
}

#add-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

md-card {
    height: 100%;
}

#form-container {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}