:host {
    margin: 10px 10px;
    display: block;
}

#add-button {
    position: fixed;
    right: 10px;
    top: 10px;
}

md-card {
    height: 100%;
}

app-task-form {
    position: fixed;
    left: 5%;
    bottom: 0px;
    width: 95%;
}