<md-card class="app-input-section">
  <md-card-title>Add task</md-card-title>
  <form (ngSubmit)='submit(taskForm)' #taskForm="ngForm">
    <md-card-content>
      <md-input placeholder="Tag" type="text" name='tag' ngModel required></md-input>
    </md-card-content>
    <p>
      Score
    </p>
    <md-card-content>
      <md-button-toggle-group name="score" ngModel required>
        <md-button-toggle *ngFor="let option of options" [value]="option">{{ option }}</md-button-toggle>
      </md-button-toggle-group>
    </md-card-content>
    <md-card-content>
      <button md-raised-button color="primary" type="submit" value="submit" [disabled]="!taskForm.valid">SAVE</button>
    </md-card-content>
  </form>
</md-card>