<md-sidenav-layout>
  <md-toolbar color="primary">
    <span>Reward Yourself</span>
    <span class="example-fill-remaining-space"></span>
    <span></span>
  </md-toolbar>
  <div class="app-content">
    <md-tab-group>
      <md-tab label="Tasks">
        <div appStretchHeight class="tab-content">
          <app-task-dashboard></app-task-dashboard>
        </div>
      </md-tab>
      <md-tab label="History">
        <div class="tab-content">
          <md-card>Title</md-card>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</md-sidenav-layout>